<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.factoryMapper">


	<select id="getFacilityList" resultType="ems.icemile.dto.FacilityDTO">
		SELECT *
		FROM facility
	</select>
	
	
	<select id="getNewFacilityCode" resultType="java.lang.String">
		SELECT line_code
		FROM facility
		<choose>
		<when test='line_code=="PR" or line_code=="IN" or line_code=="PA"'>
		</when>
		</choose>
		where line_name = #{line_name}
  		ORDER BY line_code desc
  		LIMIT 1
	</select>
	
	
	<insert id="insertFacility">
		INSERT INTO facility(line_code, line_name, line_phone, line_process, line_status, emp_num, line_note)
		VALUES(#{line_code}, #{line_name}, #{line_phone}, #{line_process}, #{line_status}, #{emp_num}, #{line_note})
	</insert>
	
	
	<update id="updateFacility">
		UPDATE facility
		SET line_name = #{line_name}, line_phone = #{line_phone}, line_process = #{line_process},
			line_status = #{line_status}, emp_num = #{emp_num}, line_note = #{line_note}
		WHERE line_code = #{line_code}
	</update>
	
	
	<delete id="deleteFacility" parameterType="java.util.List">
		DELETE FROM facility 
		WHERE line_code IN 
			 <foreach collection="list" item="line_code" open="(" separator="," close=")">
			  	#{line_code}
			 </foreach>
	</delete>


	<select id="searchLineName" resultType="java.lang.String"> 
		SELECT line_name
		FROM facility
		WHERE line_name = #{line_name}
	</select>
	
	
	<select id="facilitySearch" resultType="ems.icemile.dto.FacilityDTO">
	<bind name="content" value="'%' + content + '%'"/>
		SELECT * 
		FROM facility
		WHERE ${category} LIKE #{content}
	</select>

  
</mapper>