<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ems.icemile.mappers.headMapper">

	<select id="getNewRSCode" resultType="java.lang.String">	
  	SELECT result_code
  		FROM result
  			ORDER BY result_code desc
  				LIMIT 1
  	</select>
  	
  	<insert id="resultInsert">
	INSERT INTO result(result_code, work_code, done_date, line_code, prod_code, order_amount, good_prod, faulty_prod, faulty_reason, remark)
		VALUES(CONCAT('RS', LPAD(#{result_code}, 4, '0')), #{work_code}, #{done_date}, #{line_code}, #{prod_code}, #{order_amount}, #{good_prod}, #{faulty_prod}, #{faulty_reason}, #{remark});
	
	</insert>

	<select id="getResultList" resultType="ems.icemile.dto.ResultDTO">
		SELECT * 
			FROM result
	</select>
	
	<select id="resultSearch" resultType="ems.icemile.dto.ResultDTO">
  	<bind name="content" value="'%' + content + '%'"/>
  	SELECT *
  		FROM result
			<where>
				<if test="content != null and content != ''">
					AND result_code LIKE #{content}
				</if>
				<if test="done_dateBegin != null and done_dateBegin != '' and done_dateEnd != null and done_dateEnd != ''">
            		AND done_date BETWEEN #{done_dateBegin} AND #{done_dateEnd}
        		</if>
        		<if test="done_dateBegin != null and done_dateBegin != ''">
            		AND done_date >= #{done_dateBegin}
        		</if>
        	</where>
  	</select>
  	
  	<update id="resultUpdate">
 		UPDATE result
  			SET work_code = #{work_code}, done_date = #{done_date}, line_code = #{line_code}, prod_code = #{prod_code}, good_prod = #{good_prod}, faulty_prod = #{faulty_prod}, faulty_reason = #{faulty_reason}, remark = #{remark}
  				WHERE result_code = #{result_code}
	</update>
	
	<delete id="resultDelete" parameterType="java.util.List">
		DELETE FROM result
			WHERE result_code IN
				<foreach collection="list" item="result_code" open="(" separator="," close=")">
					#{result_code}
				</foreach>
	</delete>

	
</mapper>