<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.inMaterialMapper">


	<select id="getInMaterialList" resultType="ems.icemile.dto.InMaterialDTO">
		SELECT *
		FROM in_material
	</select>
	
  	<delete id="deleteInMaterial">
  		DELETE FROM in_material
  		WHERE in_code = #{in_code}
  	</delete>
	
	<select id="getNewIn_code" resultType="java.lang.String">
	  <bind name="trBuy_codeNum" value="'%\\_' + trBuy_codeNum + '%'"/>
		SELECT in_code
		FROM in_material
		WHERE in_code LIKE #{trBuy_codeNum}
		ORDER BY in_code DESC
		LIMIT 1
	</select>
	
<!-- 	<select id="getBuy_code" resultType="java.lang.String"> -->
<!-- 		SELECT buy_code -->
<!-- 		FROM in_material -->
<!-- 		LIMIT 1 -->
<!-- 	</select> -->
	
	<insert id="inMaterialInsert">
		INSERT INTO in_material(in_code,in_wh_code,raw_order_code,emp_num,in_status )
		VALUES(#{in_code}, #{in_wh_code}, #{raw_order_code}, #{emp_num}, #{in_status})
	</insert>
	
	<select id="getInMaterial" resultType="ems.icemile.dto.InMaterialDTO">
	 SELECT * 
	 FROM in_material
	 WHERE in_code = #{in_code} 
	</select>
	
	<update id="updateInMaterial">
     UPDATE in_material
     SET in_code = #{in_code}, in_wh_code = #{in_wh_code}, raw_order_code = #{raw_order_code},
         emp_num = #{emp_num}, in_status = #{in_status}
     WHERE in_code = #{in_code}
	</update>
	
	<select id="inMateSearch" resultType="ems.icemile.dto.InMaterialDTO">
      <bind name="content" value="'%' + content + '%'"/>
 		SELECT *
			FROM(
				SELECT in_code, in_wh_code, raw_order_code as raw_order_code, emp_num, in_status
  					FROM in_material
				) AS myTable
					WHERE myTable.${category} LIKE #{content}
	</select>
  
</mapper>