<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.memberMapper">

  <select id="getNewMemberId" resultType="java.lang.String">
  	SELECT emp_num
  		FROM emp
  			ORDER BY emp_num desc
  				LIMIT 1
  </select>
  
  <insert id="memberInsert">
  	INSERT INTO emp(emp_num, emp_pw, emp_name, birthdate, dept_name, position, 
  		phone_num, hotline, email, emp_post, address, hire_date, profilepic, emp_role)
  			VALUES(CONCAT('IM', LPAD(#{emp_num}, 6, '0')),#{emp_pw}, #{emp_name}, #{birthdate}, #{dept_name}, 
  				#{position}, #{phone_num}, #{hotline}, #{email}, #{emp_post}, #{address}, #{hire_date}, #{profilepic}, #{emp_role})
  </insert>
  
  <select id="userCheck" resultType="ems.icemile.dto.MemberDTO">
  	SELECT emp_num, emp_pw, emp_role, position
  		FROM emp
  			WHERE emp_num = #{emp_num}
  </select>
  
  <select id="getMemberInfo" resultType="ems.icemile.dto.MemberDTO">
  	SELECT *
  		FROM emp
  			WHERE emp_num = #{emp_num}
  </select>
  
  <select id="userList" resultType="ems.icemile.dto.MemberDTO">
  	SELECT *
  		FROM emp
  </select>
  
  <delete id="deleteMember">
  	DELETE FROM emp
  		WHERE emp_num = #{emp_num}
  </delete>
  
  <select id="memberSearch" resultType="ems.icemile.dto.MemberDTO">
  	<bind name="content" value="'%' + content + '%'"/>
  	SELECT *
  		FROM emp
  			WHERE ${category} LIKE #{content}
  </select>
  
  <update id="memberUpdate">
  	UPDATE emp
  		SET emp_name = #{emp_name}, birthdate = #{birthdate}, dept_name = #{dept_name}, position = #{position},
  			phone_num = #{phone_num}, hotline = #{hotline}, email = #{email}, emp_post = #{emp_post}, address = #{address},
  				 hire_date = #{hire_date}, profilepic = #{profilepic}, emp_role = #{emp_role} 
  				 	WHERE emp_num = #{emp_num}
  </update>
  
  <update id="updatePassword">
  	UPDATE emp
  		SET emp_pw = #{emp_pw}
  			WHERE emp_num = #{emp_num}
  </update>
  
  <select id="searchEmail" resultType="java.lang.String">
  	SELECT email
  		FROM emp
  			WHERE email = #{email}
  				LIMIT 1
  </select>
  
  <select id="searchPhone" resultType="java.lang.String">
  	SELECT phone_num
  		FROM emp
  			WHERE phone_num = #{phone_num}
  				LIMIT 1
  </select>
  
  <select id="getmanagerInfo" resultType="ems.icemile.dto.MemberDTO">
  	SELECT *
		FROM emp
			WHERE emp_num = #{emp_num}
  </select>
  
  <update id="memberReset">
  	UPDATE emp
  		SET emp_pw = #{emp_pw}
  			WHERE emp_num = #{emp_num}
  </update>
</mapper>