<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.outMaterialMapper">

	<!-- 출고 리스트 가져오기 -->
	<select id="outMaterialList"
		resultType="ems.icemile.dto.outMaterialDTO">
		SELECT m.out_code, m.out_wh_code, o.order_code, s.stock_code, e.emp_num, m.out_status, m.out_date, m.out_amount
        FROM out_material m
        LEFT JOIN warehouse w ON m.out_wh_code = w.wh_code
        LEFT JOIN orders o ON m.order_code = o.order_code
        LEFT JOIN emp e ON m.emp_num = e.emp_num
        LEFT JOIN stock s ON m.stock_code = s.stock_code 
	</select>
	<!-- 출고 리스트 가져오기 -->

	<!-- 출고 창고 코드 중복검사 -->
	<select id="searchOutCode" resultType="java.lang.String">
		SELECT *
		FROM out_material
		WHERE out_code = #{out_code}
	</select>
	<!-- 출고 창고 코드 중복검사 -->

	<!-- 출고수정 -->
	<update id="mtUpdate">
		UPDATE out_material
		SET out_wh_code = #{out_wh_code},
		order_code = #{order_code},stock_code = #{stock_code},out_amount = #{out_amount},
		emp_num = #{emp_num}, out_status = #{out_status}
		WHERE out_code = #{out_code}
		
		 <!-- Check if out_status is 3 and update order table -->
         <if test="out_status == 3">
          UPDATE stock
          SET stock_amount = stock_amount - #{out_amount}
          WHERE stock_code = #{stock_code};
        </if>
	</update>
	<!-- 출고수정 -->

	<!-- 출고 코드 자동 부여 -->
	<select id="getNewmtId" resultType="java.lang.String">
       <bind name="trBranchNumber" value="'%\\_' + trBranchNumber + '%'" />
		SELECT out_code
		FROM out_material
		WHERE out_code LIKE #{trBranchNumber}
		ORDER BY out_code DESC
		LIMIT 1
	</select>
	<!-- 출고 코드 자동 부여 -->
	

	<!-- 출고 추가 -->
	<insert id="mtInsert">
		INSERT INTO
		out_material(out_code,out_wh_code,stock_code,order_code,emp_num,out_status,out_date,out_amount)
		VALUES(#{out_code}, #{out_wh_code}, #{stock_code}, #{order_code}, #{emp_num}, 
		#{out_status},#{out_date},#{out_amount})
	</insert>
	
	<!-- 출고 추가 완료되면 수주 상태 납품 완료로 변경 -->
	<update id="proOrderEnd">
		UPDATE orders
			SET order_status = 4
				WHERE order_code = #{order_code}
	</update>
	<!-- 출고 추가 -->

	<!-- 출고 삭제 -->
	<delete id="mtDelete" parameterType="java.util.List">
		<foreach collection="list" item="item" separator=";">
			DELETE FROM
			out_material WHERE out_code =#{item.code}
		</foreach>
	</delete>
	<!-- 출고 삭제 -->
	
	
    <!-- 출고 검색	 -->
	<select id="mtSearch" resultType="ems.icemile.dto.outMaterialDTO">
    <bind name="content" value="'%' + content + '%'" />
    SELECT *
    FROM out_material AS myTable
    <where>
        <choose>
            <when test="category != null and category != ''">
                AND myTable.${category} LIKE #{content}
            </when>
            <otherwise>
                AND 1=1
            </otherwise>
        </choose>
        <choose>
            <when test="mt_dateBegin != null and mt_dateBegin != ''">
                AND out_date &gt;= #{mt_dateBegin}
            </when>
        </choose>
        <choose>
            <when test="mt_dateEnd != null and mt_dateEnd != ''">
                AND out_date &lt;= #{mt_dateEnd}
            </when>
        </choose>
        <choose>
            <when test="mt_dateBegin != null and mt_dateBegin != '' and mt_dateEnd != null and mt_dateEnd != ''">
                AND out_date BETWEEN #{mt_dateBegin} AND #{mt_dateEnd}
            </when>
        </choose>
    </where>
    </select>	
    <!-- 출고 검색	 -->


    <!--     modal_wh -->
    <select id="searchModalwh" resultType="ems.icemile.dto.WareHouseDTO">
        SELECT *
		FROM warehouse
		WHERE wh_code = #{wh_code}
		limit 1
    </select>
    <!--     modal_wh -->
    
     <!--     modal_OS -->
    <select id="searchOSModal" resultType="ems.icemile.dto.ProOrderDTO">
        SELECT *
		FROM orders
		WHERE order_code = #{order_code}
		limit 1
    </select>
    <!--     modal_OS -->
    
    <!--     modal_EP -->
    <select id="searchEPModal" resultType="ems.icemile.dto.MemberDTO">
        SELECT *
		FROM emp
		WHERE emp_num = #{emp_num}
		limit 1
    </select>
    <!--     modal_EP -->
    
    <!--     modal_SK -->
    <select id="searchSKModal" resultType="ems.icemile.dto.StockDTO">
       SELECT s.*,p.prod_name, p.prod_taste
       FROM stock s
       LEFT JOIN product p ON s.prod_code = p.prod_code
       WHERE stock_code = #{stock_code}
       limit 1
    </select>
    <!--     modal_SK -->
    

</mapper>
  