<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.productMapper">
  
  <select id="getNewProductId" resultType="int">
  	SELECT count(*) + 1
  		<choose>
    		<when test='type == "P"'>
      		FROM product
    		</when>
    		<when test='type == "R"'>
      		FROM raw_material
    		</when>
  		</choose>
  </select>
  
  <select id="getProductList" resultType="ems.icemile.dto.ProductAllDTO">
  	SELECT prod_code, prod_name, prod_taste as 'prod_type', prod_unit, prod_amount, prod_price, 
  		prod_exp, prod_note, branch_code as 'deal_code', wh_code
  			FROM product
  			UNION
  	SELECT raw_code, raw_name, raw_type, raw_unit, raw_amount, raw_price, raw_exp, raw_note, buy_code, wh_code
  			FROM raw_material
  </select>
  
  <insert id="productInsert">
  INSERT INTO
  		<choose>
    		<when test='type == "P"'>
      		product(prod_code, prod_name, prod_taste, prod_unit, prod_amount, prod_price, 
      		prod_exp, prod_note, branch_code, wh_code)
      		
      		VALUES(#{prod_code}, #{prod_name}, #{prod_type}, #{prod_unit}, #{prod_amount}, #{prod_price}, 
      		#{prod_exp}, #{prod_note}, #{deal_code}, #{wh_code})
    		</when>
    		<when test='type == "R"'>
      		raw_material(raw_code, raw_name, raw_type, raw_unit, raw_amount, raw_price, 
      		raw_exp, raw_note, buy_code, wh_code)
      		
      		VALUES(#{prod_code}, #{prod_name}, #{prod_type}, #{prod_unit}, #{prod_amount}, #{prod_price}, 
      		#{prod_exp}, #{prod_note}, #{deal_code}, #{wh_code})
    		</when>
  		</choose>
  </insert>
</mapper>