<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.requirementMapper">
  
  <select id="getRequirementList" resultType="ems.icemile.dto.RequirementDTO">
  	SELECT *
  		FROM requirement
  </select>
  
  <delete id="deleteRequirement">
  	DELETE FROM requirement
  		WHERE req_code = #{req_code}
  </delete>
  
  <select id="getNewReq_code" resultType="java.lang.String">
  	SELECT req_code
  		FROM requirement
  			ORDER BY req_code desc
  				LIMIT 1
  </select>
  
<!--   <insert id="insertRequirement"> -->
<!--   	INSERT INTO requirement(req_code, prod_code, raw_code, req_insertDATE, -->
<!--   	req_amount, req_upDATEDATE, req_note) -->
<!--   		VALUES(CONCAT('RE',LPAD(#{req_code},4,'0')),#{prod_code}, #{raw_code}, -->
<!--   		#{req_insertDATE}, #{req_amount}, #{req_upDATEDATE}, #{req_note}) -->
<!--   </insert> -->

<!-- <insert id="insertRequirement"> -->
<!--     INSERT INTO requirement(req_code, prod_code, raw_code, req_insertDATE, req_amount -->
<!--     <if test="req_upDATEDATE != null and req_upDATEDATE != ''">, req_upDATEDATE</if> -->
<!--     , req_note) -->
<!--     VALUES(CONCAT('RE', LPAD(#{req_code}, 4, '0')), #{prod_code}, #{raw_code}, #{req_insertDATE}, #{req_amount} -->
<!--     <if test="req_upDATEDATE != null and req_upDATEDATE != ''">, #{req_upDATEDATE}</if> -->
<!--     , #{req_note}) -->
<!-- </insert> -->

<!-- 등록일과 수정일은 오늘 날짜,시간으로 자동등록 -->
<insert id="insertRequirement">
    INSERT INTO requirement(req_code, prod_code,prod_name, raw_code, raw_name, req_amount, req_note)
    VALUES(CONCAT('RE', LPAD(#{req_code}, 4, '0')), #{prod_code}, #{prod_name}, #{raw_code}, #{raw_name}, #{req_amount}
    , #{req_note})
</insert>

<select id="checkRawCode" parameterType="map" resultType="String">
	SELECT 1
	FROM requirement
	WHERE prod_code=#{prod_code} AND raw_code=#{raw_code}
	LIMIT 1
</select>

	<select id="getRequirement" resultType="ems.icemile.dto.RequirementDTO">
	 SELECT *
	 FROM requirement
	 WHERE req_code = #{req_code} 
	</select>
	
	<update id="updateRequirement">
     UPDATE requirement
     SET prod_code = #{prod_code}, raw_code = #{raw_code}, req_amount = #{req_amount},
         req_note = #{req_note}
     WHERE req_code = #{req_code}
	</update>
	
	<select id="requirementSearch" resultType="ems.icemile.dto.RequirementDTO">
      <bind name="content" value="'%' + content + '%'"/>
 		SELECT *
			FROM(
				SELECT req_code, prod_code as prod_code, raw_code, req_insertDATE, req_amount, 
				req_upDATEDATE, req_note
  					FROM requirement
				) AS myTable
					WHERE myTable.${category} LIKE #{content}
 </select>

</mapper>