<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.sellMapper">
	
	<select id="getNewBranchCode" resultType="java.lang.String">
  	SELECT branch_code
  		FROM branch
  			ORDER BY branch_code desc
  				LIMIT 1
  	</select>
  
	<insert id="branchReg">
	INSERT INTO branch(branch_code,branch_name, branch_reg, branch_ceo, emp_num, branch_phone, branch_post, branch_add, branch_email)
		VALUES(CONCAT('BR', LPAD(#{branch_code}, 4, '0')),#{branch_name},
			#{branch_reg},#{branch_ceo},#{emp_num},#{branch_phone},#{branch_post},#{branch_add},#{branch_email})
	</insert>
	
	<select id="branch" resultType="ems.icemile.dto.SellDTO">
	SELECT * FROM branch
	</select>
	
	<select id="getBranchInfo" resultType="ems.icemile.dto.SellDTO">
  	SELECT *
  		FROM branch
  			WHERE branch_code = #{branch_code}
  	</select>
  	
  	<update id="branchUpdate">
  	UPDATE branch
  		SET branch_reg = #{branch_reg}, branch_ceo = #{branch_ceo}, emp_num = #{emp_num}, branch_phone = #{branch_phone},
  			branch_post = #{branch_post}, branch_add = #{branch_add}, branch_email = #{branch_email}
  				 	WHERE branch_code = #{branch_code}
  	</update>
	
	<delete id="branchDelete">
	DELETE FROM branch
		WHERE branch_code = #{branch_code}
	</delete>
	
	<select id="branchSearch" resultType="ems.icemile.dto.SellDTO">
  	<bind name="content" value="'%' + content + '%'"/>
  	SELECT *
  		FROM branch
  			WHERE ${category} LIKE #{content}
  	</select>
  	
  	<select id="searchEmail" resultType="java.lang.String">
  	SELECT branch_email
  		FROM branch
  			WHERE branch_email = #{branch_email}
  				LIMIT 1
  </select>
  
  <select id="searchPhone" resultType="java.lang.String">
  	SELECT branch_phone
  		FROM branch
  			WHERE branch_phone = #{branch_phone}
  				LIMIT 1
  </select>
  
  <select id="proOrderList" resultType="map">
  	SELECT o.order_code, o.emp_num, o.branch_code, p.prod_code, 
  		   o.prod_name, p.prod_taste, p.prod_price, o.order_amount,
  		   o.order_date, o.out_plan_date, o.order_status
				FROM orders o JOIN product p
					ON (o.prod_name = p.prod_name)
						ORDER BY o.order_code DESC
  </select>
  
   <select id="getNewProOrderCode" resultType="java.lang.String">
   <bind name="myDate" value="'%' + myDate+ '%'"/>
  	SELECT order_code
  		FROM orders
  			WHERE order_code LIKE #{myDate}
  				ORDER BY order_code desc
  					LIMIT 1
  </select>
  
  <insert id="proOrderInsert">
  	INSERT INTO orders(order_code, branch_code, prod_name, order_amount, order_date, out_plan_date, order_status, emp_num)
 		VALUES(#{order_code}, #{branch_code}, #{prod_name}, #{order_amount}, #{order_date}, #{out_plan_date}, #{order_status}, #{emp_num})
  </insert>
	
</mapper>