<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.sellMapper">
	
	<select id="getNewBranchCode" resultType="java.lang.Integer">
  	SELECT count(*) + 1
  		FROM branch
  	</select>
  
	<insert id="branchInsert">
	INSERT INTO branch(branch_code,branch_name, branch_reg, branch_ceo, emp_num, branch_phone, branch_post, branch_add, branch_email)
		VALUES(CONCAT('BR', LPAD(#{branch_code}, 4, '0')),#{branch_name},
			#{branch_reg},#{branch_ceo},#{emp_num},#{branch_phone},#{branch_post},#{branch_add},#{branch_email})
	</insert>
	
	<select id="branch" resultType="ems.icemile.dto.SellDTO">
	SELECT * FROM branch
	</select>
	
	<select id="getBranchInfo" resultType="ems.icemile.dto.SellDTO">
  	SELECT *
  		FROM branch
  			WHERE branch_code = #{branch_code}
  </select>
	
	
</mapper>