<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.icemile.mappers.mainMapper">

	<insert id="branchInsert">
	INSERT INTO branch(branch_code, branchInsert, branch_num, branch_ceo, emp_num, branch_tel, branch_add, branch_post,branch_email)
		VALUES(#{branch_code},#{branchInsert},#{branch_num},#{branch_ceo},#{emp_num},#{branch_tel},#{branch_add},#{branch_post},#{branch_email})
	</insert>
</mapper>