<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mes.icemile.mappers.wareHouseMapper">
  
<!--   창고 리스트 가져오기 -->
  <select id="houseList" resultType="ems.icemile.dto.WareHouseDTO">
  SELECT *
  FROM warehouse 
  </select>
<!--   창고 리스트 가져오기 -->

<!-- 창고 추가 시 코드값 가져가기 -->
  <select id="getWhCode" resultType="String">
		SELECT wh_code 
		FROM warehouse 
		ORDER BY wh_code desc limit 1
  </select>
<!-- 창고 추가 시 코드값 가져가기 -->

<!-- 창고 등록(추가) -->
<!-- 	인서트 id는 동일하게 DAO에서 호출하는부분이랑 동일하게해야합니다 houseInsert로수정 -->
<!-- wh_loacation 오타를 wh_location으로 수정했습니다 -->
	<insert id="houseInsert">
		INSERT INTO warehouse (wh_code, wh_name, wh_type, wh_location, wh_phone, wh_status, prod_code, 
		                       raw_code, emp_num, wh_note)
		VALUES (#{wh_code}, #{wh_name}, #{wh_type}, #{wh_location}, #{wh_phone}, #{wh_status}, 
				#{prod_code}, #{raw_code},#{emp_num},#{wh_note})
	</insert>
<!-- 창고 등록(추가) -->


<!-- 창고 코드 중복 검사 -->
<select id="searchwhcode" resultType="java.lang.String">
 	SELECT *
 	FROM
 	WHERE wh_code = #{wh_code}
 </select>
<!-- 창고 코드 중복 검사 -->




  
  
  </mapper>
  