<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mes.icemile.mappers.wareHouseCopyMapper">
  
  
  	<select id="getRawStockList" resultType="ems.icemile.dto.StockDTO">
		SELECT s.stock_code, r.raw_name, r.raw_code, r.raw_type, r.raw_amount AS 'stock_status', 
       		   r.wh_code, s.stock_date
		FROM raw_material r 
		LEFT JOIN stock s ON r.wh_code = s.wh_code
		
  	</select>

  
 </mapper>
  