@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
  background-color: #ffebcd !important;
 height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /*수평 정렬*/
  align-items: center;
  justify-content: center;	
}

main{
 
}

h3{
	padding-top : 1em;
	padding-bottom : 1em;
	text-align: center;
} 

table{
	margin-top: 4em;
	margin-bottom: 4em;
	margin-left:7em;

}
.form-control{
	text-align: center;	
}
 
.loginBox{
 	width: 32rem;
 	height: auto;
	background-color: white;
	border-radius: 10px;
/* 	margin-top: 2.5em; */
	margin-bottom: 2.5em;
}  


  /* 푸터 */
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}  

.mt-auto {
    margin-top: auto !important;
}
.btn{
	text-align:center;
	width : 4em;
	border-radius: 5px;
	border: none;
}

.bg-light {
  width: 100%;
    --bs-bg-opacity: 1;
    background-color: #ECECEC !important;
}

.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}


.d-flex {
    display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.small {
    font-size: 0.875em;
}

.text-muted {
    --bs-text-opacity: 1; 
    color: black !important;
 }
  
}