@charset "UTF-8";

.modaldetail {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #000;
	padding: 10px;
	z-index: 1;
}
span{
	cursor: pointer;
	background-color: black;
	color: white;
	font-size: 15px;
	margin-bottom: 5px;
}
span:hover{
	color:silver;
}
#mv1Element,#mv2Element,#mv3Element,#mv4Element,#mv5Element,#mv6Element{
border: none;
}